---
import { Image } from 'astro:assets'

import { Button, Collapse, Icon } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import KeyIcon from '@/assets/icons/key.svg'

const headings = [
  { depth: 2, slug: 'programs', text: 'Programs' },
  { depth: 2, slug: 'gpg-signature', text: 'GPG Signature' },
]
---

<PageLayout title='Projects' {headings} view>
  <p>Github Activities:</p>
  <p>
    <Image
      src='https://ghchart.rshah.org/659eb9/advnpzn'
      alt='github activities'
      inferSize
      loading='lazy'
    />
  </p>

  <h2 id='programs'></h2>
  <ProjectSection
    projects={[
      {
        name: 'akipy',
        description: 'Python library wrapper for Akinator API, reverse-engineered from website calls',
        links: [
          { type: 'github', href: 'https://github.com/advnpzn/akipy' },
          { type: 'release', href: 'https://github.com/advnpzn/akipy/releases'}
        ]
      },
      {
        name: 'Akinator-Bot',
        description: 'Telegram Bot for playing the Akinator guessing game (Unofficial)',
        links: [
          { type: 'github', href: 'https://github.com/advnpzn/Akinator-Bot' },
        ]
      },
      {
        name: 'chip8emu',
        description: 'An attempt at CHIP-8 emulator',
        links: [
          { type: 'github', href: 'https://github.com/advnpzn/chip8emu' },
        ]
      },
      {
        name: 'CaesarVis',
        description: 'Caesar Cipher Encryption Visualisation on every pixel (RGBA) of an image',
        links: [
          { type: 'github', href: 'https://github.com/advnpzn/CaesarVis' },
        ]
      },
      {
        name: 'GaussFilt',
        description: 'Gaussian Filter using SFML with Dear ImGui',
        links: [
          { type: 'github', href: 'https://github.com/advnpzn/GaussFilt' },
        ]
      },
      {
        name: 'PathFinder-sfml',
        description: 'Implementation of a pathfinder using SFML',
        links: [
          { type: 'github', href: 'https://github.com/advnpzn/PathFinder-sfml' },
        ]
      }
    ]}
  />
  <Collapse title='Some old projects'>
    <div class='pt-2'>
      <ProjectSection
        projects={[
        {
          name: 'Neco-Arc-DVDLogo',
          description: 'DVD Logo screensaver but it\'s Neco-Arc, made using C++ and SFML',
          links: [
            { type: 'github', href: 'https://github.com/advnpzn/Neco-Arc-DVDLogo' },
          ]
        },
        {
          name: 'Library-Genesis-Bot',
          description: 'Telegram Library Genesis Bot for searching and downloading books',
          links: [
            { type: 'github', href: 'https://github.com/advnpzn/Library-Genesis-Bot' },
          ]
        },
        {
          name: 'snek',
          description: 'Yet another classic arcade snake game made using raylib',
          links: [
            { type: 'github', href: 'https://github.com/advnpzn/snek' },
          ]
        },
        {
          name: 'Basic-Frontface-detection-using-OpenCV',
          description: 'Front face detection using pre-trained HaarsCascade in OpenCV',
          links: [
            { type: 'github', href: 'https://github.com/advnpzn/Basic-Frontface-detection-using-OpenCV' },
          ]
        },
        {
          name: 'ceepeepee',
          description: 'Random C++ stuff and experiments',
          links: [
            { type: 'github', href: 'https://github.com/advnpzn/ceepeepee' },
          ]
        },
        {
          name: 'tgcocbot',
          description: 'Telegram Bot for Clash of Clans',
          links: [
            { type: 'github', href: 'https://github.com/advnpzn/tgcocbot' },
          ]
        },
        {
          name: 'playground',
          description: 'Playground for SFML experiments',
          links: [
            { type: 'github', href: 'https://github.com/advnpzn/playground' },
          ]
        },
        {
          name: 'zoro.to-scraper',
          description: 'Zoro.to anime scraper (archived)',
          links: [
            { type: 'github', href: 'https://github.com/advnpzn/zoro.to-scraper' },
          ]
        }
      ]}
    />
    </div>
  </Collapse>

  <!-- gpg signature -->
  <h2 id='gpg-signature'>GPG Signature</h2>
  <p>
    You can verify the authenticity of the files I signed by checking the GPG signature. My GPG key
    fingerprint is <code>64A47AC928ACB2B7FF26A82CA9968BA0BF471DBA</code>, and you can find it on the OpenPGP key servers.
  </p>
  <Button href='https://keys.openpgp.org/search?q=advnpzn@proton.me' title='Checkout my key' target='_blank'>
    <KeyIcon class='size-5' slot='before' />
  </Button>

</PageLayout>

<style>

    &:hover {
      & .sponsorship-card-icon {
        opacity: 0;
      }
      
    }
</style>
