---
import links from 'public/links.json'
import config from 'virtual:config'

import { Collapse, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import FriendList from '@/components/links/FriendList.astro'

const headings = [
  { depth: 2, slug: 'common-links', text: 'Common Links' },
  { depth: 2, slug: 'special-links', text: 'Special Links' },
  { depth: 2, slug: 'apply-links', text: 'Apply Links' }
]

const { friends } = links
const linksConf = config.integ.links
const linkEditPage = 'https://github.com/cworld1/astro-theme-pure/blob/main/public/links.json'
---

<PageLayout title='Links' {headings} comment>
  <p>I'll link some pages, articles or videos etc.. I really like!</p>

  <li><b>Compiler Explorer:</b> <a href="https://godbolt.org/" target="_blank">https://godbolt.org/</a></li>
  <!-- <h2 id='common-links'>Common Links</h2>
  <FriendList list={friends[0]} />
  <h2 id='special-links'>Special Links</h2>
  <FriendList list={friends[2]} /> -->

</PageLayout>
